
.form-create{
    background-color: #fff;
    max-width: 700px;
    margin:20px auto 0;
    border: 1px solid #dddddd;
    padding: 20px;
    
}

.title{
    padding: 15px;
    margin-top: 10px;
    font-size: 32px;
    width: 100%;
    text-align: center;

}
.form-create label{
    
    margin-top: 20px;
    font-size: 18px;
    color: rgb(80, 69, 69);

    padding: 20px 0;
    line-height: 24px;
}
.form-create input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #dddddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.form-create input[type="button"]{
    color: #fff;
    background: #da552f;
    font-size: 18px;
    max-width: 700px;
    border: none;
    cursor: pointer;
}
.form-create input[type="button"]:hover{
    opacity: 0.7;
}
.product-list {
    max-width: 700px;
    margin:20px auto 0;
    padding: 0 20px ;
}

.product-list article{
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list article p{
   font-size: 16px;
   color: #999;
   margin-top: 5px;
   line-height: 24px;
}

.product-list article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-list article a:hover{
    background: #da552f;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.product-list .action{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .action button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    color: #fff;
    background: #da552f;
    font-weight: bold;
    cursor: pointer;
}
.product-list .action button:hover{
    opacity: 0.7;
}
.product-list .action button[disabled]{
    opacity: 0.5;
    cursor: default;
}
