.container{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    border: none;
}
.product-info{
    background: #fff;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.btns{
    max-width: 700px;
}
.btns input{  
    height: 42px;
    width: 100%;
    margin: 2px;
    color: #fff;
    background: red;
    font-size: 18px;
    border: 1px solid #666;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;

}
.btns input:first-child{
    
    background: green;
    
}
.btns input:hover{
    opacity: 0.7;
}

.product-info h1{
    font-size: 32px;
}
.product-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}
.product-info p a{
    color: #006699;
}

.form-update{
    display: none;
    background-color: #fff;
    max-width: 700px;
    margin:20px auto 0;
    border: 1px solid #dddddd;
    padding: 20px;
    
}
.form-update label{
    
    margin-top: 20px;
    font-size: 18px;
    color: rgb(80, 69, 69);

    padding: 20px 0;
    line-height: 24px;
}
.form-update input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid #dddddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.form-update input[type="button"]{
    color: #fff;
    background: #da552f;
    font-size: 18px;
    max-width: 700px;
    border: none;
    cursor: pointer;
}
.form-update input[type="button"]:hover{
    opacity: 0.7;
}
